<div class="row">
    <h1>Lista de sucursales</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group mt-5 mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input [(ngModel)]="this.busqueda" type="text" class="form-control" placeholder="Buscar por (nombre, dirección)" aria-label="Username" aria-describedby="basic-addon1">
              </div>              
        </div>
    </div>

    <p *ngIf="!this.sucursalesFiltradas().length" class="mt-5 fs-1 text-center">No hay sucursales :(</p>

    <table *ngIf="this.sucursalesFiltradas().length" class="table mt-5">
        <thead>
            <th>ID</th>
            <th>Nombre sucursal</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </thead>

        <tbody>
            <tr *ngFor="let sucursal of this.sucursalesFiltradas()">
                <td>{{ sucursal.idSucursal }}</td>
                <td>{{ sucursal.nombre }}</td>
                <td>{{ sucursal.direccion }}</td>
                <td>{{ sucursal.telefono }}</td>
                <td class="d-flex gap-3">
                    <button routerLink="/modificar-sucursal/{{ sucursal.idSucursal }}" class="btn btn-info">Modificar</button>
                    <button (click)="this.deleteSucursal(sucursal.idSucursal!)" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
