<div class="row">
    <h1>Registro de sucursales</h1>

    <div class="row mt-5">

        <div class="col-lg-4">
            <p><label for="nombre">Nombre sucursal:</label></p>
            <input [(ngModel)]="this.nuevaSucursal.nombre" id="nombre" type="text" class="form-control">
        </div>

        <div class="col-lg-4">
            <p><label for="direccion">Dirección:</label></p>
            <input [(ngModel)]="this.nuevaSucursal.direccion" id="direccion" type="text" class="form-control">
        </div>

        <div class="col-lg-4">
            <p><label for="telefono">Teléfono:</label></p>
            <input [(ngModel)]="this.nuevaSucursal.telefono" id="telefono" type="text" class="form-control">
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-lg-4">
            <button (click)="this.createSucursal()" class="btn btn-primary w-100">Registrar sucursal</button>
        </div>
    </div>
</div>
