<section class="sidebar">

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <button class="p-5 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#contenido-empleados" aria-expanded="false" aria-controls="contenido-empleados">
                <i class="fa-solid fa-user fa-lg gap-right"></i>
                Empleados
            </button>
            
            <div id="contenido-empleados" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="">
                    <a href="">Registro empleados</a>
                    <a href="">Lista empleados</a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <button class="p-5 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#contenido-sucursales" aria-expanded="false" aria-controls="contenido-sucursales">
                <i class="fa-solid fa-shop fa-lg gap-right"></i>
                Sucursales
            </button>
            
            <div id="contenido-sucursales" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="">
                    <a href="">Registro sucursales</a>
                    <a href="">Lista sucursales</a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <button class="p-5 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#contenido-movimientos" aria-expanded="false" aria-controls="contenido-movimientos">
                <i class="fa-solid fa-bolt fa-lg gap-right"></i>
                Movimientos
            </button>
            
            <div id="contenido-movimientos" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="">
                    <a href="">Lista movimientos</a>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <button class="p-5 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#contenido-altasbajas" aria-expanded="false" aria-controls="contenido-altasbajas">
                <i class="fa-solid fa-chart-pie fa-lg gap-right"></i>
                Altas y bajas
            </button>
            
            <div id="contenido-altasbajas" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="">
                    <a href="">Lista de altas y bajas</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <a routerLink="" class="logout">
        <i class="fa-solid fa-right-from-bracket gap-right fa-lg"></i>
        Cerrar sesión
    </a> -->
</section>