<div class="row">
    <h1>Consultar movimientos</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="input-group mt-5 mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control" placeholder="Buscar por (fecha)" aria-label="Username" aria-describedby="basic-addon1">
              </div>              
        </div>
    </div>

    <div class="row mt-5">
        <table class="table">
            <thead>
                <th>ID movimiento</th>
                <th>ID empleado / nombre empleado</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>tipoMovimiento</th>
            </thead>

            <tbody>
                <tr *ngFor="let movimiento of this.movimientos">
                    <td>{{ movimiento.idMovimiento }}</td>
                    <td>{{ movimiento.idEmpleado }} / {{ getNombreEmpleado(movimiento.idEmpleado) }}</td>
                    <td>{{ movimiento.fecha }}</td>
                    <td>{{ movimiento.descripcion }}</td>
                    <td>{{ movimiento.tipoMovimiento }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>